
Ext.define("dtb.widgets.NakedSlider",  {
    extend: 'Ext.slider.Single',
    alias: 'widget.dtb_naked_slider',

    mixins : {
        xcpFixedFieldWidthModelMixin : 'xcp.util.mixin.FixedFieldWidthModelMixin'
    },

    initComponent : function() {
        dtb.widgets.NakedSlider.superclass.initComponent.call(this);
    },
    
    xcpeventconfig : [{
        event : "change",
        data : function(field, newValue, oldValue, options) {
            return newValue;
        }
    }],

    constructor: function(config) {
        this.callParent(arguments);

        try {
    		xcp.widget.form.Form.encodeFieldLabel(config); // this fails when running outside xCP
        } catch (err) {
        	this.log("we're not in Kansas anymore");
        }

        this.mixins.xcpFixedFieldWidthModelMixin.constructor.call(this, "size");  // $NON-NLS-1$ 
    }


});
